@import "style_index.css";

.cover {
    width: 100vw;
    height: 30vh;
    object-fit: cover;
    z-index: -1;
}

.container {
    min-width: 100%;
    display: flex;
    padding-right: 10%;
    margin-top: -10vh;
}

.left {
    padding: 60px 30px 30px 60px;
    min-width: 30%;
    margin-top: -10vh;
    margin-right: 30px;
}

.profile-pic {
    width: 100%;
    border-radius: 50%;
    z-index: 0;
}

.bio {
    font-size: 16px;
}

.bio i {
    height: 25px;
}

.bio .line {
    display: flex;
    align-items: baseline;
    width: 100%;
    justify-content: left;
}

.bio .line p {
    margin: 10px 5px;
}

.center {
    margin-top: 100px;
    margin-bottom: 50px;
}

.center .name h1 {
    font-family: "Montserrat", sans-serif !important;
    font-weight: 700;
    font-size: 36px;
}

.center .name button {
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #12372A;
    color: white;
    font-size: 16px;
    font-family: "Montserrat", sans-serif !important;
}

.center .reviews {
    max-height: 70vh;
    overflow-y: scroll;
    margin: 20px 10px 20px 10px;
}

.center .reviews .card {
    width: 100%;
    background-color: #FBFADA;
    border-radius: 10px;
    padding: 20px;
    max-height: 200px;
    margin: 20px 0;
}

.center .reviews .card .overview {
    height: 100%;
    overflow-y: hidden;
    text-overflow: ellipsis;
}

.center .reviews .card h2 {
    font-family: "Montserrat", sans-serif !important;
    color: #12372A;
}

.center .reviews .card .rating {
    display: flex;
}