@import url('https://fonts.googleapis.com/css2?family=Hind&family=Montserrat:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Hind", sans-serif;
    box-sizing: border-box;
}

:root {
    --yellow: #FFBD13;
    --bg-color: #E6E6E6;
    --dark-green: #12372A;
    --green: #436850;
    --grayish-green: #ADBC9F;
    --grayish-yellow: #FBFADA;
	--light: #F5F5F5;
	--white: #FFF;
}

/* SECOND SECTION */

.rev-content {
    margin: 10px 0;
}

.second {
    margin-top: 50px;
    min-height: auto;
    padding: 50px;
    display: flex;
    justify-content: center;
}

.resto-name-n-logo img {
    width: 100%;
    display: block;
    margin: 20px 0;
}

.location, .phone-no, .resto-hours, .description  {
    display: flex;
    align-items: top;
    margin-top: 10px;
}

.desc {
    max-width: 100%;
    padding-right: 10px;
}

.location i, .phone-no i, .resto-hours i, .description p {
    margin-top: 2px;
}

.location p, .phone-no p, .resto-hours p, .description p {
    margin-left: 10px;
    display: block;
    align-items: top;
    word-wrap: break-word;
}

.resto-info {
    width: 20%;
    margin-right: 20px;
    background-color: rgb(236, 236, 236);
    min-height: 20vh;
    padding: 15px 20px;
    border-radius: 15px;
}

.resto-page {
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    min-width: 90%;
}

.write-review {
    background-color: white;
    border: 1px solid var(--dark-green);
    padding: 5px 15px;
    font-size: 15px;
    border-radius: 20px;
    margin: 10px 0px;

    &:hover {
        border: none;
        background-color: var(--green);
        color: white;
    }

    &:active {
        border: none;
        background-color: var(--grayish-green);
        color: white;
    }
}

.resto-reviews {
    display: block;
    width: 80%;
}

.resto-reviews a {
    text-decoration: none;
}

.un-review {
    background-color: rgb(236, 236, 236);
    min-height: 20vh;
    margin-bottom: 20px;
    width: 100%;
    padding: 15px 20px;
    border-radius: 15px;
    overflow-wrap: break-word;
}

.un-review1 img {
    margin: 5px;
    width: 200px;
    border-radius: 5px;
}

.fa-star {
    font-size: 13px;
}

.top-part {
    display: flex;
    justify-content: space-between;
}

.top-part a {
    color: black;

    &:hover {
        color: rgb(90, 90, 90);
    }
}

.user img {
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.user {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}


.like__btn, .unlike__btn {
    padding: 5px 10px;
    background: var(--green);
    margin: 10px 0px;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    border-radius: 5px;
    color: #e8efff;
    outline: none;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: var(--dark-green);
    }
}

.active-button {
    color: blue; /* Change to your desired color */
}


/* REVIEW BOX */

.review-box {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.review-button, .review-button2 {
    min-height: 5vh;
    margin-bottom: 20px;
    width: 250px;
    background-color: rgb(236, 236, 236);
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.text {
    color: rgb(115, 115, 115);
    margin-left: 20px;
    display: flex;
    align-items: center;
    cursor: context-menu;
}

.text i {
    margin-right: 7px;
    font-size: 12px;
}

/* FOOTER */

footer {
    margin-top: 50px;
    padding: 30px;
    width: 100%;
    color: #FBFADA;
    background-color: #12372A;
    display: flex;
    align-items: top;
    justify-content: space-between;
}

footer .logo, footer .logo span {
    font-size: 20px;
    color: #FBFADA;
}

/* for SEARCH BAR only */

.search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
}

.input-search {    
    height: 5vh;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 15px;
    letter-spacing: 1px;
    outline: none;
    border-radius: 50%;
    transition: all .5s ease-in-out;
    background-color: var(--grayish-green);
    padding-right: 40px;
    color:black;
}

.input-search::placeholder {
    height: 5vh;
    color:rgba(92, 92, 92, 0.5);
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 100;
}

.btn-search {
    height: 5vh;
    width: 50px;
    border-style: none;
    font-size: 15px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color: rgb(255, 255, 255);
    background-color:transparent;
    pointer-events: painted;

    &:focus {
        color: var(--grayish-green);
    }
}

.btn-search:focus ~ .input-search {
    width: 250px;
    height: 5vh;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
}

.input-search:focus {
    width: 250px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
}

/* to remove 'x' on search bar */

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.search-and-filter {
    display: flex;
    justify-content: space-between;
}

/* REVIEW */

.review-preview {
    position: fixed;
    top:0; 
    left:0;
    min-height: 100vh;
    width: 100%;
    background: rgba(84, 84, 84, 0.8);
    display: none;
    align-items: center;
    justify-content: center;
    position:fixed;
    z-index: 4;
}

.wrapper {
	background: var(--white);
	padding: 2rem;
	max-width: 576px;
	width: 100%;
	border-radius: .75rem;
	text-align: center;
}

.wrapper h3 {
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: 1rem;
}

input[type="file"]::file-selector-button {
    border: none;
    padding: 5px 15px;
    border-radius: 20px;
    background-color: var(--grayish-green);
    color: white;
    margin-bottom: 20px;
}
  
input[type="file"]::file-selector-button:hover {
    background-color: var(--dark-green);
    color: white;
    border: none;
}

.rating1 {
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: .5rem;
	font-size: 2rem;
	color: var(--yellow);
    margin-bottom: 5px;
}

.rating1 .star {
	cursor: pointer;
}

.rating1 .star.active {
    opacity: 0;
    animation: animate .5s calc(var(--i) * .05s) ease-in-out forwards;
}

/* Set the position of each star based on --i */

.star:nth-child(1) {
    --i: 0;
}

.star:nth-child(2) {
    --i: 1;
}

.star:nth-child(3) {
    --i: 2;
}

.star:nth-child(4) {
    --i: 3;
}

.star:nth-child(5) {
    --i: 4;
}

.star:nth-child(6) {
    --i: 5;
}

.star:nth-child(7) {
    --i: 6;
}

.star:nth-child(8) {
    --i: 7;
}

.star:nth-child(9) {
    --i: 8;
}

.star:nth-child(10) {
    --i: 9;
}


textarea {
    margin-top: 10px;
}

@keyframes animate {
	0% {
		opacity: 0;
		transform: scale(1);
	}
	50% {
		opacity: 1;
		transform: scale(1.2);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}


.rating1 .star:hover {
	transform: scale(1.1);
}

textarea {
	width: 100%;
	background: var(--light);
	padding: 1rem;
	border-radius: .5rem;
	border: none;
	outline: none;
	resize: none;
	margin-bottom: .5rem;
}

.btn-group {
	display: flex;
	grid-gap: .5rem;
	align-items: center;
}

.btn-group .btn {
    padding: 5px 15px;
	border-radius: 20px;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 14px;
	font-weight: 500;
}

.btn-group .btn.submit {
	background: var(--green);
	color: var(--white);
}

.btn-group .btn.submit:hover {
	background: var(--dark-green);
}

.btn-group .btn.cancel {
	background: white;
	color: var(--green);
}

.btn-group .btn.cancel:hover {
	background: var(--grayish-green);
    color: white;
}

/**/
#all-reviews {
    padding: 0;
}

.all-reviews {
    max-height: 100svh;
    overflow-y: scroll;
    position: relative;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px 10px white;
    border: solid 3px transparent;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px rgb(126, 126, 126);
    border: solid 3px transparent;
}

.buttons {
    display: flex;
    gap: 5px;
}
t

.like___btn {
    width: auto;
    height: auto;
    text-align: center;
  }
  
  .wrapper1 .like-button, .wrapper1 .unlike-button {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-decoration: none;
    overflow: hidden;
  }
  
  .wrapper1 .like-button .like-overlay, .wrapper1 .unlike-button .like-overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transform: scale(0);
    background-color: var(--dark-green);
    transition: all 0.4s;
    z-index: 0;
  }

  .wrapper1 .like-button i.fa-regular, .wrapper1 .unlike-button i.fa-regular {
    display: block;
    color: #fff;
    position: relative;
    z-index: 1;
  }
  
  .wrapper1 .like-button i.fa-solid, .wrapper1 .unlike-button i.fa-solid {
    display: none;
    color: #fff;
    position: relative;
    z-index: 1;
  }
  
  .wrapper1 .like-button.active .like-overlay, .wrapper1 .unlike-button.active .like-overlay {
    transform: scale(1);
  }
  
  .wrapper1 .like-button.active i.fa-regular, .wrapper1 .unlike-button.active i.fa-regular {
    display: none;
  }
  
  .wrapper1 .like-button.active i.fa-solid, .wrapper1 .unlike-button.active i.fa-solid {
    display: block;
  }

  .container a {
    text-decoration: none;
  }

  .wrapper1 {
    display: flex;
    align-items: center;

    h5 {
        margin: 0 10px;
        color: rgb(68, 68, 68);
    }
  }

  /*DROPDOWN FOR LOGIN/SIGNUP*/
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    background-color: #12372A;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  

.fa-ellipsis {
    margin-left: 10px;
}