<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/common/css/signup.css">
</head>
<body>
<div class="grandmother">
    <div class="motherclass">
        <div class="rightportionwhole">
            <a class="logo-link" href="/"><p class="logo">BON <span>APPÉTaft</span></p></a>
            <p class="text"><strong>Culinary exploration meets community. </strong></p>
            <div class="signup-parent">
                <div class="signupforbonappetaft">
                    <h3>Create an Account</h3>
                </div>
            </div>
        
            <form class="create-user" name="create-user" action="create-user" method="post">
                <div class="left">
                        <div class="pfp">
                            <img id="profile-picture" src="images/pfp.png">
                        </div>
                        <div class="uploadavatar-button">
                            <label for="pfpUrl" class="button">Upload Avatar</label>
                            <input type="file" id="pfpUrl" name="pfpUrl" accept="image/*" style="display: none;">
                        </div> 
                        <textarea id="description" name="description" cols="30" rows="5" placeholder="Write a short description..."></textarea>
                </div>
                <div class="right">
                            <div class="signupinfo">
                                <div class="label-input-pair">
                                    <div class="name">
                                        <input placeholder="First Name" type="text" id="firstName" name="firstName" pattern="[A-Za-z ]+" required>
                                        <input placeholder="Last Name" type="text" id="lastName" name="lastName" pattern="[A-Za-z ]+" required>
                                    </div>
                                </div>
                                <div class="label-input-pair">
                                    <input placeholder="Username" type="text" id="username" name="username" pattern="[A-Za-z0-9]{1,15}" maxlength="15" required>

                                </div>
                                <div class="label-input-pair">
                                    <input placeholder="Email" type="email" id="email" name="email" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}" required>
                                </div>        
                                <div class="label-input-pair">
                                    <input placeholder="Password" type="password" id="password" name="password" required>
                                </div>
                                <div class="label-input-pair">
                                    <label for="dob">Birthday</label>
                                    <input type="date" id="dob" name="dob" required>
                                </div>
                                <div class="owner">
                                    <label for="owner">Would you like to make an owner account? </label>
                                    <input type="checkbox" id="owner" name="owner" value="owner">
                                </div>

                                <div id="ownerFields" style="display: none;">
                                    <div class="label-input-pair">
                                        <input placeholder="Restaurant Name" type="text" id="restoName" name="restoName">
                                    </div>
                                    <div class="label-input-pair">
                                        <input placeholder="Location" type="text" id="location" name="location">
                                    </div>
                                    <div class="label-input-pair">
                                        <input placeholder="Phone Number" type="text" id="phoneNumber" name="phoneNumber">
                                    </div>
                                    <div class="label-input-pair">
                                        <label for="openingTime">Opening Time:</label><br>
                                        <input placeholder="Opening Time" type="time" id="openingTime" name="openingTime">
                                    </div>
                                    <div class="label-input-pair">
                                        <label for="closingTime">Closing Time:</label><br>
                                        <input placeholder="Closing Time" type="time" id="closingTime" name="closingTime">
                                    </div>
                                </div>
                            </div>
                    
                            <div class="signup-button">
                                <button type="submit" value="submit">Sign Up</button>
                            </div>
                    
                        <p id="login"> Already have an account? <a href="/login">Login</a> </p>
                </div>
            </form>
        </div>

        <div class="leftportionwhole">
            <img id="burger" src="images/burger.png">
        </div>

        <div id="myModal" class="modal">
            <div class="modal-content">
                <h2>Account Creation Successful!</h2>
                <button id="goToHomePage">Go to Homepage</button>
                <button id="goToLoginPage">Go to Login Page</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>

<script>
    document.getElementById('pfpUrl').addEventListener('change', function() {
        const file = this.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                document.getElementById('profile-picture').src = e.target.result;
            }
            reader.readAsDataURL(file);
        }
    });

    document.getElementById('owner').addEventListener('change', function() {
        const ownerFields = document.getElementById('ownerFields');
        if (this.checked) {
            ownerFields.style.display = 'block';
            document.querySelector('.create-user').action = 'create-owner';
        } else {
            ownerFields.style.display = 'none';
            document.querySelector('.create-user').action = 'create-user';
        }
    });
</script>
