<!-- views/partials/footer.handlebars -->

<footer>
    <p class="logo">BON <span>APPÉTaft</span></p>
    <div class="col">
        <p>Facebook</p>
        <p>Instagram</p>
    </div>
    <div class="col">
        <p>+63 917 432 7033</p>
        <p>+63 988 569 0978</p>
    </div>
    <div class="col">
        <p>emeEme@gmail.com</p>
    </div>
</footer>
