<!-- views/partials/header.handlebars -->

<header>
    <p class="logo">BON <span>APPÉTaft</span></p>
    <nav>
        <ul>
            <a href="/" class="current"><li>Home</li></a>
            <a href="/resto"><li>Restaurants</li></a>
            <a href="/signup"><li>Profile</li></a>
        </ul>
    </nav>
    <div class="dropdown">
            <button class="dropbtn">Sign Up / Login</button>
            <div class="dropdown-content">
              <a href="signup.html">Sign Up</a>
              <a href="login.html">Login</a>
            </div>
    </div>   
</header>
